<div class="s300-" th:fragment="navbar">
    <p>maaf layar anda terlalu kecil</p>
    <p class="stiker-s300-"></p>
</div>

<div id="to-top" class="cursor-pointer-custom" th:fragment="navbar">
    <i class="fas fa-chevron-up"></i>
</div>

<nav th:fragment="navbar">
    <div class="top" id="top">
        <div>
            <a href=""> <i class="fab fa-facebook-f"></i> </a>
            <a href=""> <i class="fab fa-instagram"></i> </a>
            <a href=""> <i class="fab fa-twitter"></i> </a>
            <a href=""> <i class="fab fa-youtube"></i> </a>
        </div>
        <div class="li-center">
            <p>Furniture terbaik dari indonesia ⭐</p>
        </div>
        <div>
            <a href="">apakah anda mencari produk lain? </a>
        </div>
    </div> <!-- end navbar top -->

    <div class="bottom" id="bottom">
        <div id="hamburger" class="cursor-pointer-custom">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logo">
            <a href="/">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 197.89 206.55">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #e82144;
                            }

                            .cls-2 {
                                fill: #333;
                            }

                            .cls-3 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <title>perabot</title><text x="-156.39" y="-142.76" />
                    <path class="cls-1"
                          d="M156.39,185.72V349.31l88.35-16V169.68Zm84.23,46.57a62.36,62.36,0,0,1-2.78,12.37s0,0,0,.05c2.14,1.67,1.73,5.34,0,7.07-2.07,2.07-4.95,1.66-7.07,0a20.41,20.41,0,0,1-7-12.29c-.49-2.66.71-5.38,3.5-6.15a5.22,5.22,0,0,1,3.14.2c.2-1.31.38-2.62.56-3.91.39-2.69,3.81-4.13,6.16-3.49C240,226.92,241,229.62,240.62,232.29Z"
                          transform="translate(-156.39 -142.76)" />
                    <polygon class="cls-2" points="186.74 197.1 98.38 181.06 98.38 0 186.74 16.04 186.74 197.1" />
                    <path class="cls-3"
                          d="M319.3,219.23H254.77v17.91H319.3Zm-29.35,10H274.83a1,1,0,0,1,0-2H290a1,1,0,0,1,0,2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M290,254.88H274.83a1,1,0,0,0,0,2H290a1,1,0,0,0,0-2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M319.3,274.62H254.77v17.9H319.3ZM290,284.57H274.83a1,1,0,0,1,0-2H290a1,1,0,0,1,0,2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M314.11,297.45a1,1,0,1,0-1.95.44l4.84,21.7a1,1,0,0,0,1,.78.78.78,0,0,0,.22,0,1,1,0,0,0,.76-1.19Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M324.83,269.58V242.17a1,1,0,0,0-1-1H254.77v2h68.06v25.41H254.77v2h69.06A1,1,0,0,0,324.83,269.58Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M268,197.34h13.42v-1a1,1,0,0,1,1-1H269.28l5.87-21.91h14.49l5.87,21.91H282.39a1,1,0,0,1,1,1v1h13.42a1,1,0,0,0,.79-.39,1,1,0,0,0,.18-.87l-6.41-23.91a1,1,0,0,0-1-.74h-16a1,1,0,0,0-1,.74L267,196.08a1,1,0,0,0,.17.87A1,1,0,0,0,268,197.34Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M281.39,214.13a1,1,0,0,0,2,0V197.34h-2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M282.39,195.34a1,1,0,0,0-1,1v1h2v-1A1,1,0,0,0,282.39,195.34Z"
                          transform="translate(-156.39 -142.76)" />
                    <rect class="cls-3" x="51.65" y="132.88" width="36.7" height="2" />
                    <rect class="cls-3" x="51.65" y="162.02" width="36.7" height="2" />
                    <path class="cls-3"
                          d="M191,230.5a20.27,20.27,0,0,1,2,.55,23.67,23.67,0,0,1,23.64-23.22h28.12v-2H216.62A25.69,25.69,0,0,0,191,230.5Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M206,305.78v1c-.74.74-3.79,3.21-11.58,3.21-7.62,0-10.57-2.48-11.26-3.2V270.05a1,1,0,0,0-2,0v37.08a1,1,0,0,0,.17.56c.12.17,3,4.27,13.09,4.27,10.29,0,13.28-4.09,13.4-4.26a1,1,0,0,0,.18-.57v-.35h-1A1,1,0,0,1,206,305.78Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M207,275.64h1V251.85A21.76,21.76,0,0,0,197.18,233a22.23,22.23,0,0,0-4.2-1.9c0,.15,0,.29,0,.43a1,1,0,0,1-2,0c0-.33,0-.66,0-1a20.54,20.54,0,0,0-14.61,2.09,19.41,19.41,0,0,0-4.28,3.19,17.84,17.84,0,0,0,0,25.2,14.45,14.45,0,0,0,18.35,1.73,12.29,12.29,0,0,0,4.77-13.78,10.2,10.2,0,0,0-7.39-7.23,9.16,9.16,0,0,0-8.9,2.67c-1.27,1.37-2.71,4.64-1.17,7.59a5.27,5.27,0,0,0,4.08,2.88,4.85,4.85,0,0,0,4.22-1.47,1,1,0,1,0-1.5-1.32,2.91,2.91,0,0,1-2.48.81,3.29,3.29,0,0,1-2.55-1.83,5.07,5.07,0,0,1,.86-5.3,7.18,7.18,0,0,1,7-2.08,8.12,8.12,0,0,1,5.92,5.85,10.31,10.31,0,0,1-4,11.56,12.47,12.47,0,0,1-15.81-1.49,15.84,15.84,0,0,1,0-22.38,17,17,0,0,1,3.83-2.85,18.79,18.79,0,0,1,18.82.34A19.76,19.76,0,0,1,206,251.85v24.79A1,1,0,0,1,207,275.64Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M207,304.78h1V277.64h-1a1,1,0,0,1-1-1v29.14A1,1,0,0,1,207,304.78Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M207,277.64h1v-2h-1a1,1,0,1,0,0,2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M207,304.78a1,1,0,1,0,0,2h1v-2Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M192,232.48a1,1,0,0,0,1-1c0-.14,0-.28,0-.43a20.27,20.27,0,0,0-2-.55c0,.32,0,.65,0,1A1,1,0,0,0,192,232.48Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M202.32,312.92a1,1,0,0,0-1,1V317c-.56.5-2.42,1.77-6.8,1.77s-6.08-1.28-6.61-1.76v-3.06a1,1,0,0,0-2,0v3.45a.93.93,0,0,0,.18.55c.19.29,2.08,2.82,8.43,2.82s8.42-2.51,8.62-2.8a1,1,0,0,0,.18-.57v-3.45A1,1,0,0,0,202.32,312.92Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M230.31,238.65a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l1.77,1.76,1.41-1.41Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M233.84,245a1,1,0,0,0,.71.3,1,1,0,0,0,.71-1.71l-1.77-1.77-1.41,1.42Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3" d="M235.26,240.07a1,1,0,0,0-1.42-1.42l-1.76,1.77,1.41,1.41Z"
                          transform="translate(-156.39 -142.76)" />
                    <path class="cls-3"
                          d="M228.9,245a1,1,0,0,0,.71.3,1,1,0,0,0,.7-.3l1.77-1.76-1.41-1.42-1.77,1.77A1,1,0,0,0,228.9,245Z"
                          transform="translate(-156.39 -142.76)" />
                    <polyline class="cls-3" points="75.69 97.66 74.28 99.08 75.69 100.49" />
                    <rect class="cls-1" x="56.37" y="80.28" width="27.94" height="39.6" />
                </svg>
                <div id="text-logo">
                    Perabot
                    <span id="dot-shop">shop</span>
                </div>
            </a>
        </div>
        <div class="navbar">
            <a href="/shop" id="link"> belanja </a>
            <div>
                <a href="" id="link" class="food" data-btnNav="nav-produk"> produk <div id="go-down"></div> </a>
                <div class="dropdown" data-target="nav-produk">
                    <div class="box-dropdown">
                        <div>
                            <p class="head-dropdown">halaman</p>
                            <a href="">belanja</a>
                            <a href="">keranjang</a>
                            <a href="">checkout</a>
                            <a href="">akun</a>
                        </div>
                        <div>
                            <p class="head-dropdown">produk</p>
                            <a href="">meja</a>
                            <a href="">cermin</a>
                            <a href="">lemari</a>
                            <a href="">dll...</a>
                        </div>
                        <div>
                            <p class="head-dropdown">produk terlaris</p>
                            <a href="">lampu</a>
                            <a href="">sofa</a>
                            <a href="">tanaman hias</a>
                            <a href="">dll...</a>
                        </div>
                        <div>
                            <p class="head-dropdown">produk lainnya?</p>
                            <a href="" class="ask">tanyakan <i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" id="link"> galeri </a>
            <a href="/contact" id="link"> kontak </a>
            <div class="btn-in-dropdown">
                <a href="" id="link"> <p>checkout</p> </a>
                <a href="" id="link"> <p>keranjang</p> </a>
            </div>
        </div>
        <div class="icon">
            <div class="box-icon">
                <a href="">
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path>
                    </svg>
                </a>
            </div>
            <div class="box-icon">
                <a href="" class="cart">
                    <span class="count-product"><code>10</code> produk</span>
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor" d="M551.991 64H129.28l-8.329-44.423C118.822 8.226 108.911 0 97.362 0H12C5.373 0 0 5.373 0 12v8c0 6.627 5.373 12 12 12h78.72l69.927 372.946C150.305 416.314 144 431.42 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-17.993-7.435-34.24-19.388-45.868C506.022 391.891 496.76 384 485.328 384H189.28l-12-64h331.381c11.368 0 21.177-7.976 23.496-19.105l43.331-208C578.592 77.991 567.215 64 551.991 64zM240 448c0 17.645-14.355 32-32 32s-32-14.355-32-32 14.355-32 32-32 32 14.355 32 32zm224 32c-17.645 0-32-14.355-32-32s14.355-32 32-32 32 14.355 32 32-14.355 32-32 32zm38.156-192H171.28l-36-192h406.876l-40 192z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div> <!-- end navbar bottom -->
</nav>