<div class="box-popup" id="box-popup" th:fragment="footer"></div>

<div class="box-popup-chck" id="box-popup-chck" th:fragment="footer">
    <div class="popup-chck" id="popup-chck">
        <div class="head each">
            <i class="fas fa-times cursor-pointer-custom" id="cross-popup-chck"></i>
        </div>
        <div class="text each"></div>
        <div class="btn-pc each">
            <button class="montserrat cursor-pointer-custom" id="btn-popup-chck">batal</button>
            <button class="montserrat cursor-pointer-custom" id="btn-popup-chck">lanjut</button>
        </div>
    </div>
</div>

<footer th:fragment="footer">
    <div class="footer1">
        <div>
            <p class="head-footer">halaman</p>
            <a href="">belanja</a>
            <a href="">keranjang</a>
            <a href="">checkout</a>
            <a href="">akun</a>
        </div>

        <div>
            <p class="head-footer">produk</p>
            <a href="">meja</a>
            <a href="">cermin</a>
            <a href="">lemari</a>
            <a href="">dll...</a>
        </div>

        <div>
            <p class="head-footer">produk terlaris</p>
            <a href="">lampu</a>
            <a href="">sofa</a>
            <a href="">tanaman hias</a>
            <a href="">dll...</a>
        </div>

        <div>
            <p class="head-footer">pembayaran</p>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>

    <div class="footer2">
        <div>
            <a href=""> <i class="fab fa-facebook-f"></i> </a>
            <a href=""> <i class="fab fa-instagram"></i> </a>
            <a href=""> <i class="fab fa-twitter"></i> </a>
            <a href=""> <i class="fab fa-youtube"></i> </a>
        </div>
        <div class="copyright">
            Copyright &#9400; 2021 Didol.shop
        </div>
    </div>
</footer>