/*---------------------------------------------SECTION---------------------------------------------*/
main.auth .content {
	display: flex;
	justify-content: center;
}

main.auth .section {
	padding: 60px 40px;
}

main.auth {
	font-family: var(--montserrat);
}

/*---------------------------------------------HEADER---------------------------------------------*/
main.auth .header {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

main.auth .header img {
	width: 100%;
	height: 150%;
	object-fit: cover;
	position: relative;
	top: 0;
}

main.auth .header .text {
	width: 100%;
	height: 100%;
	background-color: var(--black04);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
}

main.auth .header p {
	color: var(--white);
	font-size: 3rem;
	font-weight: 600;
}

/*---------------------------------------------CONTENT---------------------------------------------*/
main.auth .box-form {
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	padding: 60px 40px;
	background-color: var(--white);
	box-shadow: 0 0 10px 1px var(--black01);
}

main.auth .login,
main.auth .register {
	display: flex;
	flex-direction: column;
}

main.auth label {
	margin-bottom: 5px;
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

main.auth p.policy a {
	color: var(--red);
}

main.auth input {
	width: 100%;
	height: 50px;
	padding: 20px;
	border: 1px solid var(--red0);
	background-color: var(--white-dark);
	position: relative;
}

main.auth input:not(#remember):focus {
	outline: 0;
	border: 1px solid var(--red);
	transition: var(--setengah);
}

main.auth .box-input {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1rem;
}

main.auth .box-input .warning {
	align-self: flex-start;
	color: var(--red);
}

main.auth .box-input #eye {
	font-size: 0.8rem;
	position: absolute;
	right: 10px;
}

main.auth button {
	padding: 20px 30px;
	width: -webkit-max-content;
	width: max-content;
	color: var(--white);
	border: 0;
	background-color: var(--black-bold);
	letter-spacing: 1px;
	font-weight: 600;
	transition: var(--setengah);
}

main.auth button:hover {
	background-color: var(--red);
}

main.auth .login .last {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 1rem 0;
}

main.auth .login .last input {
	margin: 0;
	height: auto;
}

main.auth .login .remember {
	display: flex;
	align-items: center;
	gap: 10px;
}

main.auth .login input#remember {
	width: 20px;
	height: 20px;
}

main.auth .login input#remember:checked {
	background-color: red;
}

main.auth .login .last label {
	margin: 0;
	height: -webkit-max-content;
	height: max-content;
}

main.auth .login .forgot-pass {
	width: -webkit-max-content;
	width: max-content;
	color: var(--black);
}

main.auth .login .forgot-pass:hover {
	color: var(--red);
	text-decoration: underline;
}

main.auth p.policy {
	font-size: 0.9rem;
	line-height: 140%;
	margin-bottom: 1rem;
	color: var(--black06);
}
