main.checkout {
	font-family: var(--montserrat);
}

/*---------------------------------------------HEADER---------------------------------------------*/
main.checkout .header {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

main.checkout .header img {
	width: 100%;
	height: 150%;
	object-fit: cover;
	position: relative;
	top: 0;
}

main.checkout .header .text {
	width: 100%;
	height: 100%;
	background-color: var(--black04);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
}

main.checkout .header p {
	color: var(--white);
	font-size: 3rem;
	font-weight: 600;
}

/*---------------------------------------------SECTION---------------------------------------------*/
main.checkout .section {
	padding: 60px 40px;
}

/*---------------------------------------------BOX CHECKOUT---------------------------------------------*/
/*----------LEFT1----------*/
main.checkout .box-checkout {
	padding: 20px;
	background-color: var(--white);
	box-shadow: 0 0 10px 1px var(--black01);
	position: relative;
	overflow: hidden;
}

main.checkout .box-checkout .judul-check {
	font-size: 2rem;
	font-weight: 600;
	text-transform: capitalize;
	padding-bottom: 20px;
	position: relative;
}

main.checkout .box-checkout .judul-check::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 2px;
	background-color: var(--black01);
}

main.checkout .box-checkout .head-form-check {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
	letter-spacing: 1px;
}

main.checkout .box-checkout .head-other {
	margin-top: 40px;
}

main.checkout .core-box {
	position: relative;
}

main.checkout .each-form {
	padding: 0 20px;
	transition: var(--setengah);
}

main.checkout .each-form-hide {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

main.checkout .sharing-box1 {
	display: grid;
	grid-template-columns: 1.6fr 1fr;
	gap: 60px;
}

main.checkout form .bx {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main.checkout form label {
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 1px;
}

main.checkout form label {
	margin-bottom: 10px;
}

main.checkout form input,
main.checkout form textarea,
main.checkout form select {
	padding: 10px;
	border: 1px solid var(--black01);
	background-color: var(--white-dark);
	transition: var(--setengah);
	resize: none;
}

main.checkout form input:focus,
main.checkout form textarea:focus,
main.checkout form select:focus {
	outline: 0;
	border: 1px solid transparent;
	box-shadow: 0 0 3px 0.5px var(--black03);
}

main.checkout form input::placeholder {
	transition: var(--setengah);
}

main.checkout form input:focus::placeholder {
	transition-delay: var(--setengah);
	opacity: 0;
}

main.checkout input[type="number"]::-webkit-inner-spin-button,
main.checkout input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

main.checkout form select {
	text-transform: capitalize;
	letter-spacing: 1px;
}

main.checkout .sharing-box1 .form1 {
	display: grid;
	grid-template-areas:
		"bx1 bx1 bx1 bx1"
		"bx2 bx2 bx3 bx3"
		"bx4 bx4 bx5 bx5"
		"bx6 bx6 bx6 bx6"
		"bx7 bx8 bx8 bx8"
		"bx9 bx9 bx9 bx9";
	gap: 20px;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(1) {
	grid-area: bx1;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(2) {
	grid-area: bx2;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(3) {
	grid-area: bx3;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(4) {
	grid-area: bx4;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(5) {
	grid-area: bx5;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(6) {
	grid-area: bx6;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(7) {
	grid-area: bx7;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(8) {
	grid-area: bx8;
}

main.checkout .sharing-box1 .form1 .bx:nth-child(9) {
	grid-area: bx9;
}

/*----------RIGHT1----------*/
main.checkout .sharing-box1 .right1 {
	height: -webkit-max-content;
	height: max-content;
}

main.checkout .sharing-box1 .right1 table,
tr,
th,
td {
	width: 100%;
	padding: 15px 20px;
	border-collapse: collapse;
	border-top: 1px solid var(--black01);
}

main.checkout .sharing-box1 .right1 th {
	font-size: 0.6rem;
	text-align: start;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

main.checkout .sharing-box1 .right1 td {
	font-size: 0.8rem;
	font-weight: 800;
	color: var(--black06);
	line-height: 140%;
}

main.checkout .sharing-box1 .right1 td.td-price {
	white-space: nowrap;
}

main.checkout .sharing-box1 .right1 .space,
td {
	border: 0;
}

main.checkout .sharing-box1 .right1 .jumlah {
	white-space: nowrap;
	font-size: 0.6rem;
}

/*---------------------------------------------BTN PREV NEXT---------------------------------------------*/
main.checkout .btn-next-prev {
	margin: 40px 0 60px;
	display: flex;
	justify-content: center;
}

main.checkout .btn-next-prev .box-btn {
	display: flex;
	gap: 20px;
}

main.checkout .btn-next-prev #myprevnext {
	padding: 10px 20px;
	color: var(--white);
	font-size: 0.8rem;
	background-color: var(--black);
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	transition: 0.3s;
	position: static;
}

main.checkout .btn-next-prev #myprevnext::after {
	display: none;
}

main.checkout .btn-next-prev #myprevnext span {
	display: block;
	transform: translateX(0);
	transition: 0.3s;
	pointer-events: none;
}

main.checkout .btn-next-prev #myprevnext:hover {
	background-color: var(--red);
}

main.checkout .btn-next-prev #myprevnext:nth-child(1) {
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}

main.checkout .btn-next-prev #myprevnext:nth-child(1):hover {
	clip-path: polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
}

main.checkout .btn-next-prev #myprevnext:nth-child(1):hover span {
	transform: translateX(5px);
}

main.checkout .btn-next-prev #myprevnext:nth-child(2) {
	clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
}

main.checkout .btn-next-prev #myprevnext:nth-child(2):hover {
	clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}

main.checkout .btn-next-prev #myprevnext:nth-child(2):hover span {
	transform: translateX(-5px);
}

main.checkout .btn-next-prev .pnDisabled {
	pointer-events: none;
	opacity: 0.5;
}

/*---------------------------------------------COURIER---------------------------------------------*/
main.checkout .sharing-box2,
main.checkout .sharing-box3 .instant,
main.checkout .sharing-box3 .regular {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	gap: 20px;
}

main.checkout .tfc-hide {
	display: none !important;
}

main.checkout .es,
main.checkout .es {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

main.checkout #myMap {
	width: 300px;
	height: 300px;
}

main.checkout .sharing-box3 .default img {
	width: 50%;
	display: block;
	margin: 0 auto;
}

main.checkout .sharing-box3 .emptyCaption {
	text-align: center;
	line-height: 140%;
	font-weight: 500;
	text-transform: capitalize;
}
